{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
